.divBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
}

.box {
    height: 30px;
    width: 30px;
    background-color: black;
    border: 1px solid white;
    margin: 10px;
}

.activo {
    background-color: white;
    border: 1px solid black;
}
.DivName {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    left: 100px;
    width: 80%;
}
.DivName h1{
    font-weight: 600;
    width: 80%;
    font-size:3.12em;
    margin-bottom: 0.4em;
}

.DivName p{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.DivName a{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em .3em;
    background-color: white;
}

.DivName a img{
    width: 20%;
    height: 20%;
}
@keyframes fade {
    0% {
        opacity: -1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: -1;
    }

    100% {
        opacity: 1;
    }
}

.fade-in{
    animation: fade 1s linear;
}

.fade-out {
    animation: fade2 1s linear;
}


@media screen and (max-width:750px){
    .DivName{
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .DivName h1{
        font-size: 1.7em;
    }

    .DivName p{
        max-width: 90%;
    }
    .divBox{
        display: none;
    }
}


