.containerPerfiles,
.FalsecontainerPerfiles {
    animation: inicio linear 2s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
}

.containerPerfiles{
    height: 100vh;
}
@keyframes inicio {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.FalsecontainerPerfiles{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.Perfiles {
    animation: perfiles linear 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    flex-flow: row wrap;
    position: relative;
}
@keyframes perfiles {
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

.cardPelis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13em;
    position: relative;
    height: 60%;
    transition: all .5s;
    margin: 1em 0em;
}



.perfil:hover{
    background:linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.70) 100%);
}

.btonCardX:hover{
    transform: scale(1.2);
}
.perfil{
    transition: all .5s;
}

.perfil:hover{
    transform: scale(1.1);
}
.divCreatePerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.CreatePerfil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2em;
    height: 2em;
    background-color: black;
}

.CreatePerfil button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
    border-radius: 1000px;
    outline: none;
    transition: all .5s;
    cursor: pointer;
    animation: ocultar linear 3s;
}

.icon{
    width: 100%;
    height: 70%;
    font-weight: 100;
    color: white;
    transition: all .5s;
}

.CreatePerfil button:hover{
    background-color: white;
}

.CreatePerfil button:hover .icon{
    color: black;
}



#card2{
    height: 72%;
}
.formCreate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputNombre{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 3em 2em;
    width: 60%;
}

.inputNombre input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 1.4em;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.inputNombre label{
    position: absolute;
    top: -30px;
    left: 0px;
    color: #adadad;
    font-size: 1em;
    pointer-events: none;
    transition: all .5s;
}

.Formulario img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 1em;
}

.ContainerFotos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.activoFoto{
    background:linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.70) 100%);
    position: relative;
    z-index: 500;
    width: 2000px;
    border: 1px solid white;
}


.btonsdiv .administrarPerfiles{
    padding: 1em 2em;
    margin: 0 1em;
}



.btonCard{
    padding: 1em 2em;
    border-radius: 100%;
    background: linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.70) 100%);
    border: 0;
    color: white;
    transition: all .5s;
}

.btonCard:hover{
    background:linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 100%);
    cursor: pointer;
    border: 1px solid white;
}


.iconPencil{
    font-size: 2em;
}


.divContainerEditar{
    position: fixed;
    height: 105vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(59, 56, 56);
    flex-direction: column;
    z-index: 1;
    opacity: 1;
}

.divContainerEditar2{
display: none;
}

.divPerfil{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

#div2{
    display: none;
}

.divContainerEditar img{
    width: 10em;
    height: 10em;
    border-radius: 100%;
}
.divContainerEditar p{
    color: white;
}

.divContainerEditar form{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ContainerFotos div{
    width: 8em;
    height: 8em;
}
.Check{
    padding: .5em 4em;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    transition: all .5s;
}


.Check:hover{
    background-color: color;
    color: white;
}
.changeFoto{
    display: flex;
    margin: 0;
    padding: 0px 0px 0px 0px;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;

}

.changeFoto img{
    margin: 0.5em;
    border-radius: 10px;
    width: 200px;
    transition: all .5s;
    cursor: pointer;
}

.changeFoto img:hover{
    transform: scale(1.2);
    z-index: 3;
}


.btonCardX{
    position: absolute;
    background: none;
    border: none;
    top: 0;
    right: 0;
    background: red;
    height: 3em;
    width: 3em;
    border-radius: 100px;
    cursor: pointer;
}


.administrarPerfiles{
    border-radius: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    transition: all .5s;
    cursor: pointer;
    animation: ocultar linear 3s;
}

@keyframes ocultar {
    0%{
        opacity: -1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.administrarPerfiles:hover{
    background-color: white;
    color: black;
}

.imgCrear{
    transition: all .5s;
}

.imgCrear:hover{
    transform: scale(1.2);
}
.btonsdiv{
    display: flex;
    animation: inicio linear 2s;
}

.btonSubir{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 1em 5em;
    outline: none;
    border: 1px solid white;
    transition: all .5s;
    cursor: pointer;
}

.btonSubir:hover{
    background-color: white;
    color: black;
}
.CreatePerfil{
    border-radius: 100%;
}
.perfil{
    width: 11em;
    height: 15em;
    display: flex;
    border-radius: 10%;
    justify-content: center;
    align-items: center
}
.button2{
    display: none;
}
.button1{
    display: flex;
    top: 50px;
    padding: .3em 4em;
    transition: all .5s;
    right: 70px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button1:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

.iconVolver{
    color: white;
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all .5s;
}
.iconVolverCreate{
    font-size: 1.2em;
    color: white;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
    transition: all .5s;
}
.iconVolverCreate:hover{
    transform: scale(1.5);
}
.iconVolver:hover{
    transform: scale(1.2);
}
@media screen and (max-width:623px){
    .Perfiles{
        display: flex;
        flex-flow: column;
        height: 25%;
    }
    #cardP{
        margin: 2em;
    }
}
@media screen and (max-width:832px){
    #div2{
        display: flex;
        position: fixed;
        bottom: 100px;
    }
    #div1{
        display: none;
    }
}

@media screen and (max-width:623px){
    #div2{
        display: flex;
        position: relative;
        bottom: 0;
    }
}
@media screen and (max-width:960px){
    .perfil{
        width: 9em;
    }
}

@media screen and (max-width:1260px){
    .changeFoto img{
        width: 8em;
        height: 8em;
        border-radius: 100%;
    }
    .divContainerEditar img {
        width: 8em;
        height: 8em;
        border-radius: 100%;
    }
}

@media screen and (max-width:456px){
    .Perfiles{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
        .cardPelis{
        height: 8em;
        margin-top: 20px;
    }
    #cardP{
        height: 15%;
        margin: 1em;
    }

    #cardP a{
        height: 10em;
    }
    .btonCard{
    height: 0;
    padding: 2em 3em;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #card2{
        height: 12em;
    }
}
@media screen and (max-width:960px){
    #div1 .divBtonsCheck .Check{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 70px;
        width: 10%;
    }

    #div1 .divBtonsCheck{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:650px){
    .ContainerFotos div{
        width: 6em;
        height: 5em;
    }
}

@media screen and (max-width:420px){
    .ContainerFotos div{
        width: 3.7em;
        height: 4em;
    }

    .iconPencil{
        font-size: 1em;
    }

    .btonCard {
        padding: 1.3em 1.5em;
    }
    .btonCardX{
        width: 2em;
        height: 2em;
        right: 28px;
    }

    .divBtonsCheck{
        position: relative;
        top: -5px;
    }
    .Check {
        padding: .2em 3em;
        transition: all .5s;
    }

    #card2 {
        height: 7.5em;
    }
    .perfil{
        width: 6em;
    }
}
@media screen and (max-width:575px){
    .changeFoto img{
        width: 6em;
        height: 6em;
        border-radius: 100%;
        margin: 0.4em;
    }
    .divContainerEditar img {
        width: 6em;
        height: 6em;
        border-radius: 100%;
    }
    .inputNombre{
        margin: 2em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .changeFoto{
        position: relative;
        top: -20px;
    }
    .button2{
        display: flex;
        position: absolute;
        top: 50px;
        padding: .3em 4em;
        transition: all .5s;
        right: 70px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .button2:hover{
        background-color: black;
        border: 1px solid white;
        color: white;
    }
    .button1{
        display: none;
    }
}

@media screen and (max-width:380px){

    .divContainerEditar img {
        width: 5em;
        height: 5em;
        border-radius: 100%;
    }
    
    .divContainerEditar .changeFoto{
        top: 0px;
    }
}
