.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 30000;
    height: 6.5em;
}

.navbar.scrolled {
    background-color: black;
}

nav {
    display: flex;
    margin: 0.5em 4em;
    position: relative;
    top: -30px;
    align-items: center;
}

nav img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 100%;
    right: 10px;
    position: relative;
}

.activoul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.imagenPerfil{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0 1em;
    cursor: pointer;

}
li {
    margin: 0 1.5em;
}

.links {
    color: white;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    transition: all .5s;
}



.links::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid white;
    transform: scaleX(0);
    transition: all .5s;
}


.links:hover::after{
    transform: scaleX(1);
}



.iconoSearch{
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    padding: 1.1em;
}

.divRight{
    display: flex;
    justify-content: end;
    align-items: center;

}


input{
    border: 1px solid white;
    background-color:black;
    outline: none;
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 1em;
    color: white;
    animation: input linear 1.5s;
    transition: all .5s;
}


@keyframes input{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


.perfilesMain{
    background-color: black;
    height: 26em;
    width: 20em;
    position: fixed;
    top:85px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px 0px 30px 30px;
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
}

.dentroPerfiles{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin: .2em;
    width: 100%;
    transition: all .5s;
}
.dentroPerfiles:hover .dentroPerfiles img{
    opacity: -1;
}

.dentroPerfiles:hover .adentroNombres{
    opacity: 1;
}

.adentroNombres{
    position: absolute;
    height: 90%;
    width: 56%;
    margin-top: 10px;
    opacity: -1;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all .5s;
    cursor: pointer;
}
.dentroPerfiles img{
    margin-top: 10px;
    width: 50%;
    cursor: pointer;
    height: 5.5em;
}


.CerrarSesion{
    height: 100%;
    border-top: 1px solid white;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.LinkCerrar{
    position: relative;
    bottom: 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    margin: 1%;
}

.LinkCerrar::after{
    content: "";
    display: block;
    border: 1px solid white;
    transform: scale(0);
    width: 100%;
    transition: all .5s;
}

.LinkCerrar:hover::after{
    transform: scale(1);
}


.perfilesMainMedia{
    display: none;
}
.bar{
    display: none;
}
#check{
    display: none;
}

.volverPerfiles{
    color: white;
    text-decoration: none;
    font-family: cursive;
}

.dentroPerfilesVTwo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volverPerfiles::after{
    content: "";
    display: block;
    width: 100%;
    border: 1px solid white;
    transform: scale(0);
    transition: all .5s;
}

.volverPerfiles:hover::after{
    transform: scale(1);
}

@media screen and (max-width:740px){

    .activoul{
        display: none;
    }
    .bar {
        display: flex;
        height: 30px;
    }
    
    .checkbtn {
        display: flex;
        z-index: 3000;
        color: white;
        cursor: pointer;
        margin: 0 auto;
        right: 0;
        padding: 0 .5em;
    }
    
    #check:checked  ~  .activoul {
        opacity: 1;
        width: 40%;
        background-color: rgba(22, 22, 24, 0.712);
        border: 1px solid white;
        border-radius: 10px;
        height: 15%;
        position: fixed;
        right: 10px;
        top: 120px;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .8s;
    }

    #check:checked  ~  .activoul li{
        margin: 0.6em;
    }
}
@media screen and (max-width:900px) {
    .imagenPerfil{
        position: fixed;
        bottom: 30px;
        width: 6em;
        height: 6em;
        z-index: 100;
    }


    .divRight{
        position: absolute;
        right: 0;
    }
    .perfilesMain{
        display: none;
    }
    @keyframes mainmedia{
        0%{
            height: 0em;
        }
        25%{
            height: 4em;
        }
        50%{
            height: 8em;
        }
        75%{
            height: 12em;
        }
        100%{
            height: 16em;
        }
    }
    .perfilesMainMedia{
        background-color: black;
        height: 16em;
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        z-index: 200;
        border-radius: 10px 10px 0 0;
        animation: mainmedia linear .5s;
    }
    .organizarPerfiles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    .perfilesMainMedia .organizarPerfiles .dentroPerfiles img{
        margin: 1em 1em;
        height: 6em;
        width: 6em;
        transition: all .5s;
        cursor: pointer;
    }
    
    .perfilesMainMedia .organizarPerfiles .dentroPerfiles img:hover{
        transform: scale(1.2);
    }

    .CerrarSesionMedia{
        height: 20%;
        border-top: none;
        justify-content: space-between;
        display: flex;
        width: 80%;
    }

}
@media screen and (max-width: 1300px){
    .activoul{
        width: 60%;
    }
}
@media screen and (max-width: 1000px){
    .activoul{
        width: 50%;
    }
}
@media screen and (max-width: 450px){

    .divRight{
        position: absolute;
        right: -50px;
    }

    .perfilesMainMedia .organizarPerfiles .dentroPerfiles img{
        margin: 1em 1em;
        height: 5em;
        width: 5em;
        transition: all .5s;
        cursor: pointer;
    }
}
nav h2{
    color: white;
    position: relative;
    right: 30px;
}
.input{
    padding: 1em .1em;
}
.x{
    position: absolute;
    top: -20px;
    cursor: pointer;
    right: 20px;
    background: none;
    font-size: 2em;
    color: white;
    transition: all .5s;
}
.x:hover{
    transform: scale(1.2);
}

@media screen and (max-width:600px){
    .containerInformacion h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}
@media screen and (max-width:550px){
    .input{
        width: 18.25em;
    }
    .divRight{
        margin: 1em;
    }
    .imgLogo{
        right: 30px;
        height: 10em;
        width: 80%;
    }
}
@media screen and (max-width: 300px){
    .imgLogo{
        width: 8em;
        right: 40px;
    }
    nav{
        top: -15px;
    }
    .iconoSearch{
        padding: .4em;
    }
    .input{
        width: 10.1em;
    }
}