.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 30000;
}

.navbar.scrolled {
    background-color: black;
}

nav {
    display: flex;
    margin: 0.5em 4em;
    align-items: center;
}

nav h2{
    color: white;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagenPerfil{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0 1em;
    cursor: pointer;

}
li {
    margin: 0 1.5em;
}

.links {
    color: white;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    transition: all .5s;
}



.links::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid white;
    transform: scaleX(0);
    transition: all .5s;
}


.links:hover::after{
    transform: scaleX(1);
}



.iconoSearch{
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    padding: 1.1em;
}

.divRight{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 2em;
}


input{
    border: 1px solid white;
    background-color:black;
    outline: none;
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 1em;
    color: white;
    animation: input linear 1.5s;
    transition: all .5s;
}


@keyframes input{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


.perfilesMain{
    background-color: black;
    height: 26em;
    width: 20em;
    position: fixed;
    top:85px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid white;
    border-radius: 30px 0px 30px 30px;
}

.dentroPerfiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: .2em;
}
.dentroPerfiles img{
    margin-top: 10px;
    margin-left: 10px;
    width: 7em;
    border-radius: 10%;
    height: 5.5em;
}

.dentroPerfiles span{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.CerrarSesion{
    height: 100%;
    border-top: 1px solid white;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkCerrar{
    position: relative;
    bottom: 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

.LinkCerrar::after{
    content: "";
    display: block;
    border: 1px solid white;
    transform: scale(0);
    width: 100%;
    transition: all .5s;
}

.LinkCerrar:hover::after{
    transform: scale(1);
}

.iconoTrash{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
}

.iconoTrash:hover{
    color: red;
}

.iconoArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
}

.buttonFlecha{
    position: relative;
    left: 40px;
}
.iconoArrow:hover{
    color: green;
}