.ulPelis {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    right: 0;
    bottom: 270px;
}

.ContainerBusqueda {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: end;
}

.divUl ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 6em;
    font-size: 1em;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    border: 1px solid white;
}

.perfiles {
    position: relative;
    width: 10em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.card {
    position: absolute;
    width: 10em;
    height: 15em;
    backface-visibility: hidden;
    transition: .5s;
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    border-radius: 20px;
    align-items: center;
}

.frente {
    bottom: 0;
    width: 10em;
    height: 15em;
    color: #fff;
    text-align: center;
    position: absolute;
}

.back {
    transform: rotateY(180deg);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    width: 90%;
    height: 99%;
    justify-content: center;
}

.perfiles:hover .frente {
    transform: rotateY(180deg);
}

.perfiles:hover .back {
    transform: rotateY(360deg);
}


.error{
    color: red;
}

.nombreActor {
    font-weight: 600;
}

.personaje {
    color: rgb(182, 175, 175);
}

.imgPoster,
.imgPoster1 {
    width: 20em;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
    margin: 4em;
}
.imgPoster{
    display: none;
}

.containerInformacion {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 70%;
    width: 100%;
    position: relative;
}

span {
    color: rgb(187, 183, 183);
    margin: 1em;
}

.divUl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divUl ul {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0em 3em;
}


.iconoCorazon {
    margin: 1.4em 0em;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    padding: 3em 3em;
}

.iconoCorazonCompleted {
    margin: 1.4em 0em;
    border-radius: 100%;
    color: green;
    border: 1px solid white;
    padding: 3em 3em;
}

.iconoCorazon:hover,
.iconoCorazonCompleted:hover {
    cursor: pointer;
}

.iconoCorazon:hover {
    color: green;
}

.PosicionesBotonesFav2 {
    display: none;
}

.Actores {
    margin-top: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
}

.PosicionesBotonesFav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

.Description {
    color: white;
    position: relative;
    top: 30px;
    margin: 1em;
    text-align: start;
    width: 60%;
    font-size: 1.4em;
    font-family: serif;
    letter-spacing: 3px
}

@media screen and (max-width:1620px) {

    .containerInformacion {
        align-items: center;
    }

    .Description {
        width: 90%;
        top: 0px;
    }

    .PosicionesBotonesFav {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: start;
    }

    .perfiles {
        margin: 1em;
    }

}

@media screen and (max-width:1230px) {
    .Actores {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (max-width:1160px) {
    .PosicionesBotonesFav {
        display: none;
    }

    .PosicionesBotonesFav2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.363);
        border-radius: 20px;
    }

    .ContainerBusqueda {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 100%;
    }

    .Description {
        text-align: center;
    }

    .divUl ul {
        padding: 0px 0px 0px 0px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
    }

    .ImgBoton {
        width: 20em;
        height: 100%;
        border-radius: 20px;
    }
    .imgPoster1{
        display: none;
    }

    .imgPoster {
        margin: 0;
        display: flex;
    }

    .MediaFoto {
        margin: 4em;
    }
    .containerInformacion h2{
        font-size: 1.3em;
    }

    .containerInformacion span{
        font-size: 1em;
    }
}
