main{
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

.sectiondiv,
.sectiondiv2{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 95%;
    overflow: hidden;
    scroll-behavior: smooth;
}
.containerMoviesTodas{
    width: 90%;
    margin: 100px auto;
}

.MoviesTodas{
    display: flex;
    flex-wrap: nowrap;
}

.img{
    width: 12em;
    height: 100%;
    background-size: cover;
}


.img:hover{
    border-radius: 10px;
    transform: scale(1.2);
    background-color: aqua;
    opacity: -1;
}

.img:hover .p p{
    opacity: 2;
}


button:hover{
    background: rgba(99, 96, 96, 0.363);
    color: white;
}

.mas,
.mas2{
    right: 0px;
    position: absolute;
    border: none;
    background: rgba(27, 23, 23, 0.644);
    font-size: 40px;
    height: 30%;
    top: calc(50% - -67.6%);
    line-height: 40px;
    width: 4.74%;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.menos,
.menos2{
    position: absolute;
    border: none;
    background: rgba(27, 23, 23, 0.644);
    font-size: 40px;
    height: 30%;
    top: calc(50% - -67.6%);
    line-height: 40px;
    width: 4.74%;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
    left: 0px;
}


.mas2,
.menos2{
    top: 1699px;
}
.divInside{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p{
    position: relative;
    color: white;
    opacity: 1;
    right: 92px;
}

.ContainerCards,
.ContainerActive{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.70) 100%);
}


.ContainerActive{
    background: linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.70) 100%);
    border-radius: 10px;
    transition: all .5s;
}

.ContainerActive .imgactive{
    opacity: -1;
    width: 12em;
}


.Show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10em;
    font-size: .8em;
    transition: all .5s;
    z-index: 3000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: show linear .5s;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.Show .showdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Show span{
    width: 50%;
}
.Show img{
    width: 90%;
    height: 90%;
}

.showdiv p{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}


.Show a{
    padding: .5em 3em;
    background-color: white;
    cursor: pointer;
}

.Show a img{
    width: 60%;
    height: 50%;
}
@keyframes show{
    0%{
        width: 0em;
    }
    50%{
        width: 5em;
    }
    100%{
        width: 10em;
    }
}



@keyframes mostar{
    0%{
        opacity: -1;
    }
    100%{
        opacity: 100%;
    }
}


.divTitlePeliculas{
    display: flex;
    position: relative;
    top: 50px;
    margin-left: 1em;
}

.titlePeliculas{
    color: white;
    position: relative;
}

.titlePeliculas::after{
    content: "";
    width: 100%;
    position: absolute;
    border: 1px solid white;
    display: block;
}

