.Inicio{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.navLogo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    
}

.navLogo button,
.Registrarse{
    margin: 0 3em;
    padding: 1em 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(219, 6, 6);
    color: white;
    cursor: pointer;
    transition: all .5s;
}

.navLogo button:hover{
    background-color: black;
}
.buscadorInicial{
    background-color: white;
    border: 1px solid black;
    padding: .3em 5em;
    margin: 1.2em;
    color: black;
    display: flex;
    border-radius: 10px;
    align-items: start;
    justify-content: start;
}
.Registrarse{
    padding: 0 2em;
    height: 50%;
    margin: 0 0;
    cursor: pointer;
}
.Btons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Filtradas{
    overflow-x: auto;
    height: 12em;
    width: 100%;
    max-width: 30em;
}
.DivPelisFiltradas{
    text-align: center;
    width: 100%;
    background-color: red;
    border-radius: 10px;
    margin: .5em 0;
}
.navLogo img{
    margin: 0 3em;
    height:30%;
    width: 40%;
    max-width: 10em;
}
.IniciarSecion h2{
    color: white;
    font-size: 3em;
    letter-spacing: 1px;
    font-family: math;
    text-align: center;
    margin: .3em auto;
}
.IniciarSecion h3{
    color: white;
    font-family: math;
    letter-spacing: 1px;
    font-size: 2em;
    text-align: center;
    margin: .3em auto;
}

.IniciarSecion p{
    color: white;
    margin: .3em auto;
    margin-top: 30px;
    text-align: center;
}
.insideDivIniciar h2{
    color: white;
}

.IniciarSecion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%),url("https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.IniciarSecion h1{
    position: relative;
    color: white;
}



.containerCarga{
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: 4s linear containerCarga;
    position: fixed;
}
@keyframes containerCarga{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.one, .two, .third{
    border-radius: 100%;
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 1em 1em;
}


.one{
    animation: 4s linear one;
}

.two{
    animation: 4s linear two .2s;
}

.third{
    animation: 4s linear third .4s;
}

.irAPerfilesFirst{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
    transition: all .5s;
    animation: 6s linear iniciarPerfil;
}
.irAPerfilesFirst::after{
    content: "";
    position: absolute;
    display: block;
    transform: scale(0);
    width: 100%;
    transition: all .5s;
    border: 1px solid white;

}

.divIniciarSesionunder{
    position: fixed;
}

.irAPerfilesFirst:hover::after{
    transform: scale(1);
}
@keyframes third{
    0%{
        position: relative;
        top: 0px;
    }
    10%{
        position: relative;
        top: -30px;
    }
    20%{
        position: relative;
        top: 0px;
    }
    30%{
        position: relative;
        top: -30px;
    }
    40%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -30px;
    }
    60%{
        position: relative;
        top: 0px;
    }
    70%{
        position: relative;
        top: -30px;
    }
    80%{
        position: relative;
        top: 0px;
    }
    90%{
        position: relative;
        top: -30px;
    }
    100%{
        position: relative;
        top: 0px;
    }

}
@keyframes two{
    0%{
        position: relative;
        top: 0px;
    }
    10%{
        position: relative;
        top: -30px;
    }
    20%{
        position: relative;
        top: 0px;
    }
    30%{
        position: relative;
        top: -30px;
    }
    40%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -30px;
    }
    60%{
        position: relative;
        top: 0px;
    }
    70%{
        position: relative;
        top: -30px;
    }
    80%{
        position: relative;
        top: 0px;
    }
    90%{
        position: relative;
        top: -30px;
    }
    100%{
        position: relative;
        top: 0px;
    }

}

@keyframes one{
    0%{
        position: relative;
        top: 0px;
    }
    10%{
        position: relative;
        top: -30px;
    }
    20%{
        position: relative;
        top: 0px;
    }
    30%{
        position: relative;
        top: -30px;
    }
    40%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -30px;
    }
    60%{
        position: relative;
        top: 0px;
    }
    70%{
        position: relative;
        top: -30px;
    }
    80%{
        position: relative;
        top: 0px;
    }
    90%{
        position: relative;
        top: -30px;
    }
    100%{
        position: relative;
        top: 0px;
    }

}










.divIniciarSesion{
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%),url("https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: iniciarSesion linear 1.5s;
}
@keyframes iniciarSesion{
    0%{
        opacity: -1;
    }
    100%{
        opacity: 1;
    }
}

.DivConfetti{
    animation: Confetti linear 5s;
    transition: all .5s;
}

@keyframes Confetti{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: -1;
    }
}

.insideDivIniciar{
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    height: 60%;
    border-radius: 20px;
    max-width: 40em;
    width: 40em;
    background-color: rgb(20, 19, 19);
    border: 1px solid white;
}


.insideDivIniciar h2{
    position: relative;
    top: 30px;
    margin-bottom: 10%;
}

.divIniciarSesion .insideDivIniciar form{
padding: 0 40px;
box-sizing: border-box;
width: 100%;
}


.divIniciarSesion .insideDivIniciar form{
    border-top: 1px solid white;
}

.divIniciarSesion .insideDivIniciar form .username,
.divIniciarSesion .insideDivIniciar form .lastname{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 5em 0;
}


.divIniciarSesion .insideDivIniciar form .username input,
.divIniciarSesion .insideDivIniciar form .lastname input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1.4em;
    border: none;
    background: none;
    outline: none;
}

.divIniciarSesion .insideDivIniciar form .username .label,
.divIniciarSesion .insideDivIniciar form .lastname .label{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #adadad;
    transform: translatey(50%);
    font-size: 1em;
    pointer-events: none;
    transition: all .5s;
}
.span1,
.span2{
    transition: all .5s;
}
.span1:hover,
.span2:hover{
    transform: scale(1.2);
    color: white;
}

.divIniciarSesion .insideDivIniciar form .username input:focus ~ .label,
.divIniciarSesion .insideDivIniciar form .lastname input:focus  ~ .label{
    top:-50px;
}


.posicionBton{
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}


.posicionBton .button{
    margin-top: 6%;
    padding: 1em 6em;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    position: relative;
    top: -10px;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}
.posicionBton .button:hover{
    background-color: white;
    color:black;
    border: 1px solid black;
}
.opcionContrase単a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    left: 0;
    top: -40px;
}


.opcionRegistrarte span,
.opcionContrase単a span{
    cursor: pointer;
}






/*--registrarte--*/


.containerformRegis{
    position: fixed;
}

.DivEnterRegistrado{
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 80%;
    align-items: center;
    justify-content: center;
    color: white;
}
.DivEnterRegistrado h3{
    font-size: 2em;
    font-family: monospace;
}

.DivEnterRegistrado button{
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 2.5em;
}
.containerformRegis{
    display: flex;
    background-color: rgba(13, 14, 14, 0.884);
    border: 1px solid white;
    width: 50em;
    height: 50%;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.containerformRegis h2{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0em;
    border-bottom: 1px solid white;
    width: 100%;
}
.registrarteContainer{
    animation: fade2 1s linear;
}
.registrarteContainer-in{
    animation: fade 1s linear;
}
@keyframes fade {
    0% {
        opacity: -1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: -1;
    }

    100% {
        opacity: 1;
    }
}

.containerformRegis form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.containerformRegis form .IngresarUser,
.containerformRegis form .ingresarContra,
.containerformRegis form .email{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 0 2em;
}


.containerformRegis form .IngresarUser input,
.containerformRegis form .ingresarContra input,
.containerformRegis form .email input{
    width: 50%;
    padding: 0 5px;
    height: 30px;
    font-size: 1.4em;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.containerformRegis form .email{
    width: 80%;
    position: relative;
    top: -20px;
}

.containerformRegis form .email input{
    width: 100%;
}


.containerformRegis form .IngresarUser .label,
.containerformRegis form .ingresarContra .label,
.containerformRegis form .email .label{
    position: absolute;
    left: 0px;
    top: 0;
    color: #adadad;
    font-size: 1em;
    pointer-events: none;
    transition: all .5s;
}



.containerformRegis form .IngresarUser input:focus ~ label,
.containerformRegis form .ingresarContra input:focus ~ label,
.containerformRegis form .email input:focus ~ label{
    top:-30px;
    animation: entrar linear .5s;
}

@keyframes entrar{
    0%{
        top: 0px;
    }
    30%{
        top: -10px;
    }
    60%{
        top: -20px;
    }
    100%{
        top: -30px;
    }
}
.ActivoLabel{
    position: absolute;
    top: -30px;
    left: 0px;
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: all .5s;
}

form .ActivoLabel{
    color:grey;
}


.containerformRegis form .irAPerfiles{
    width: 30%;
    position: relative;
    top: -20px;
    outline: none;
    border-radius: 10px;
    padding: 1em 2em;
    cursor: pointer;
    border: 1px solid white;
    text-decoration: none;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    transition: all .5s;
}

.containerformRegis form .irAPerfiles:hover{
    background-color: white;
    color: black;
}

.containerformRegis span{
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
    transition: all.5s;
}

.containerformRegis span:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 430px){
    .DivPelisFiltradas{
        margin: 1em 0;
    }
}

@media screen and (max-width: 700px){
    .divIniciarSesionunder{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .insideDivIniciar{
        width: 80%;
    }
}
@media screen and (max-width: 480px){
    .navLogo img{
        position: relative;
        right: 20px;
    }
}
@media screen and (max-width: 860px){
    .containerformRegis{
        width: 35em;
    }

}
@media screen and (max-width: 590px){
    .IniciarSecion{
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%),url(https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/netflixteaser.png);
    }
    .fondo{
        display: none;
    }
    .navLogo img {
        margin: 0 3em;
        height: 30%;
        position: relative;
        width: 40%;
        max-width: 10em;
    }

}
@media screen and (max-width: 420px){
    .insideDivIniciar h2{
        height: 3em;
    }
}
@media screen and (max-width: 600px){
    .containerformRegis{
        width: 80%;
    }
    .containerformRegis span{
        display: flex;
        right: 10px;
        right: 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 450px){
    .containerformRegis {
        height: 38em;
    }
    .insideDivIniciar h2 {
        height: 3em;
        top: 40px;
    }
    .Registrarse{
    position: relative;
    top: 1px;
    }
    .navLogo button,
.Registrarse{
    position: relative;
    top: 10px;
}
}
@media screen and (max-width: 390px){
    .insideDivIniciar{
        width: 80%;
    }
    .navLogo img {
        position: relative;
        right: 0px;
        top: 44px;
    }

}

@media screen and (max-width: 530px){
    .Filtradas{
        width: 20em;
    }
    .buscadorInicial{
        padding: .3em 2em;
    }
}
@media screen and (max-width: 400px){

    .navLogo img {
        position: relative;
        right: 0px; 
        top: -14px;
    }
    .Registrarse {
        padding: 0 1em;
        position: relative;
        top: 1px;
    }
}
@media screen and (max-width: 430px){
    .buscadorInicial{
        padding: .3em 1em;
    }
    .IniciarSecion p{
        margin: 0 1em;
    }
    .IniciarSecion h3{
        font-size: 1.6em;
    }
    .IniciarSecion h2{
        font-size: 2.5em;
    }
    .Registrarse{
        padding: 0 1em;
    }
}
@media screen and (max-width: 450px){
    .insideDivIniciar{
        width: 90%;
        margin-top: 3em;
    }

    .insideDivIniciar h2{
        height: 1em;
        top: 0px;
    }

    .navLogo img {
        position: relative;
        right: 0px;
        top: 10px;
    }

    .opcionContrase単a {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .opcionContrase単a span{
        width: 80%;
    }
    .containerformRegis form .irAPerfiles{
        top: -40px;
    }
    .containerformRegis span{
        width: 86%;
        text-align: center;
    }
    .navLogo{
        top: -20px;
    }
    .navLogo img {
        margin: 0 1.8em;
        width: 30%;
    }
    .IniciarSecion h2 {
        font-size: 2em;
    }
    .IniciarSecion h3 {
        font-size: 1.5em;
    }
    .IniciarSecion p {
        margin: 0 1em;
        font-size: .9em;
    }
    .buscadorInicial {
        padding: .3em .1em;
        width: 50%;
    }
    .Filtradas {
        width: 15em;
        height: 12em;
    }
    .Registrarse{
        position: relative;
        right: 5px;
        top: 0px;
    }
    .navLogo img {
        position: relative;
        right: 0px;
    }
}

.Filtradas::-webkit-scrollbar{
    width: 8px;
    height: 20%
}

@media screen and (max-width: 400px){
    .containerformRegis {
        height: 30em;
    }
}

@keyframes iniciarPerfil{
    0%{
        opacity: -1;
    }
    30%{
        opacity: -1;
    }
    50%{
        opacity: -1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}