.Inicio{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}


.insideDivIniciar h2{
    color: white;
}
.IniciarSecion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36%;
    background-color: rgb(6, 27, 10);

}

.IniciarSecion h1{
    position: relative;
    color: white;
}

.Btons{
    display: flex;
    gap: 4em;
}

.containerCarga{
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: 4s linear containerCarga;
    position: fixed;
}
@keyframes containerCarga{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.one, .two, .third{
    border-radius: 100%;
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 1em 1em;
}

.one{
    animation: 4s linear one;
}

.two{
    animation: 4s linear two .2s;
}

.third{
    animation: 4s linear third .4s;
}

.irAPerfilesFirst{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
    transition: all .5s;
}
.irAPerfilesFirst::after{
    content: "";
    position: absolute;
    display: block;
    transform: scale(0);
    width: 100%;
    transition: all .5s;
    border: 1px solid white;
}

.irAPerfilesFirst:hover::after{
    transform: scale(1);
}
@keyframes third{
    0%{
        position: relative;
        top: 0px;
    }
    10%{
        position: relative;
        top: -30px;
    }
    20%{
        position: relative;
        top: 0px;
    }
    30%{
        position: relative;
        top: -30px;
    }
    40%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -30px;
    }
    60%{
        position: relative;
        top: 0px;
    }
    70%{
        position: relative;
        top: -30px;
    }
    80%{
        position: relative;
        top: 0px;
    }
    90%{
        position: relative;
        top: -30px;
    }
    100%{
        position: relative;
        top: 0px;
    }

}
@keyframes two{
    0%{
        position: relative;
        top: 0px;
    }
    10%{
        position: relative;
        top: -30px;
    }
    20%{
        position: relative;
        top: 0px;
    }
    30%{
        position: relative;
        top: -30px;
    }
    40%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -30px;
    }
    60%{
        position: relative;
        top: 0px;
    }
    70%{
        position: relative;
        top: -30px;
    }
    80%{
        position: relative;
        top: 0px;
    }
    90%{
        position: relative;
        top: -30px;
    }
    100%{
        position: relative;
        top: 0px;
    }

}

@keyframes one{
    0%{
        position: relative;
        top: 0px;
    }
    10%{
        position: relative;
        top: -30px;
    }
    20%{
        position: relative;
        top: 0px;
    }
    30%{
        position: relative;
        top: -30px;
    }
    40%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -30px;
    }
    60%{
        position: relative;
        top: 0px;
    }
    70%{
        position: relative;
        top: -30px;
    }
    80%{
        position: relative;
        top: 0px;
    }
    90%{
        position: relative;
        top: -30px;
    }
    100%{
        position: relative;
        top: 0px;
    }

}

.Btons button{
    padding: .9em 1.7em;
    border-radius: 10px;
    border: none;
    outline: none;
}

.fondo{
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%),url("https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
    background-position: center;
    background-size: cover;
    width: 64%;
}






.divIniciarSesion{
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%),url("https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: iniciarSesion linear 1.5s;
}
@keyframes iniciarSesion{
    0%{
        opacity: -1;
    }
    100%{
        opacity: 1;
    }
}



.insideDivIniciar{
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    height: 60%;
    border-radius: 20px;
    max-width: 40em;
    width: 40em;
    background-color: rgb(20, 19, 19);
    border: 1px solid white;
}


.insideDivIniciar h2{
    position: relative;
    top: 30px;
    margin-bottom: 10%;
}

.divIniciarSesion .insideDivIniciar form{
padding: 0 40px;
box-sizing: border-box;
width: 100%;
}


.divIniciarSesion .insideDivIniciar form{
    border-top: 1px solid white;
}

.divIniciarSesion .insideDivIniciar form .username,
.divIniciarSesion .insideDivIniciar form .lastname{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 5em 0;
}


.divIniciarSesion .insideDivIniciar form .username input,
.divIniciarSesion .insideDivIniciar form .lastname input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1.4em;
    border: none;
    background: none;
    outline: none;
}

.divIniciarSesion .insideDivIniciar form .username .label,
.divIniciarSesion .insideDivIniciar form .lastname .label{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #adadad;
    transform: translatey(50%);
    font-size: 1em;
    pointer-events: none;
    transition: all .5s;
}
.span1,
.span2{
    transition: all .5s;
}
.span1:hover,
.span2:hover{
    transform: scale(1.2);
    color: white;
}
form .ActivoLabel{
    color:grey;
}

.divIniciarSesion .insideDivIniciar form .username input:focus ~ .label,
.divIniciarSesion .insideDivIniciar form .lastname input:focus  ~ .label{
    top:-50px;
}


.posicionBton{
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}


.posicionBton .button{
    margin-top: 6%;
    padding: 1em 6em;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    position: relative;
    top: -10px;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}
.posicionBton .button:hover{
    background-color: white;
    color:black;
    border: 1px solid black;
}
.opcionContraseña{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    left: 0;
    top: -40px;
}


.opcionRegistrarte span,
.opcionContraseña span{
    cursor: pointer;
}






/*--registrarte--*/

.containerformRegis{
    display: flex;
    background-color: rgba(13, 14, 14, 0.884);
    border: 1px solid white;
    width: 50em;
    height: 50%;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.containerformRegis h2{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0em;
    border-bottom: 1px solid white;
    width: 100%;
}
.registrarteContainer{
    animation: fade2 1s linear;
}
.registrarteContainer-in{
    animation: fade 1s linear;
}
@keyframes fade {
    0% {
        opacity: -1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: -1;
    }

    100% {
        opacity: 1;
    }
}

.containerformRegis form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.containerformRegis form .IngresarUser,
.containerformRegis form .ingresarContra,
.containerformRegis form .email{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 0 2em;
}


.containerformRegis form .IngresarUser input,
.containerformRegis form .ingresarContra input,
.containerformRegis form .email input{
    width: 50%;
    padding: 0 5px;
    height: 30px;
    font-size: 1.4em;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.containerformRegis form .email{
    width: 80%;
    position: relative;
    top: -20px;
}

.containerformRegis form .email input{
    width: 100%;
}
.containerformRegis form .email label{
    top: 0px;
}

.containerformRegis form .IngresarUser label,
.containerformRegis form .ingresarContra label,
.containerformRegis form .email label{
    position: absolute;
    left: 0px;
    color: #adadad;
    font-size: 1em;
    top: 0px;
    pointer-events: none;
    transition: all .5s;
}



.containerformRegis form .IngresarUser input:focus ~ label,
.containerformRegis form .ingresarContra input:focus ~ label,
.containerformRegis form .email input:focus ~ label{
    top:-30px;
}
.ActivoLabel{
    position: absolute;
    top: -30px;
    left: 0px;
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: all .5s;
}

.containerformRegis form .irAPerfiles{
    width: 30%;
    position: relative;
    top: -20px;
    outline: none;
    border-radius: 10px;
    padding: 1em 2em;
    cursor: pointer;
    border: 1px solid white;
    text-decoration: none;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    transition: all .5s;
}

.containerformRegis form .irAPerfiles:hover{
    background-color: white;
    color: black;
}

.containerformRegis span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: all.5s;

}

.containerformRegis span:hover{
    transform: scale(1.1);
}